<div class="hold">
  <div class="header">
    <div class="container">
      <div id="logo">
      </div>
      <ul class="nav">
        <li><%= link_to "About Us", home_index_path %><a href="#"></a></li>
        <li><%= link_to "Order Online", order_page_path %><a href="#"></a></li>
        <li><%= link_to "Book An Event", order_page_path %><a href="#"></a></li>
        <li><%= link_to "What's New!", whats_new_page_path %><a href="#"></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="section">
  <div class="slider">
    <div class="container slidercontent">
      <h1 class="hero">BJs Bartenders</h1>
      <h3 class="hero">Signature Drinks Made Better</h3>
      <div class="call"><span><%= link_to "Let's Get Started", order_page_path %></span></div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="col four">
      <h1 class="icon">[]</h1>
      <h1 class="service">The Classics</h1>
      <p>Mojito</p>
      <p>Miami Vice</p>
      <p>The CoronaRita</p>
      <p>Blackbird Sweet Tea Vodka</p>
      <p>Pina Colada</p>
    </div>
    <div class="col four">
      <h1 class="icon">[]</h1>
      <h1 class="service">Cocktails</h1>
      <p>PaletaRitas</p>
      <p>Bourbon Milk Punch</p>
      <p>The Pink Flamingo (with gin)</p>
      <p>ChamWow</p>
      <p>Pastelito Daiquiri</p>
    </div>
    <div class="responsivegroup"></div>
    <div class="col four">
      <h1 class="icon">[]</h1>
      <h1 class="service">HomeGrownElixers</h1>
      <p>Carol City Citric Rainstorm</p>
      <p>Wynwood Friday Night</p>
      <p>Opa-Locka Weekend</p>
      <p>Liberty City Ambition</p>
      <p>Brickell Summer Romance</p>
    </div>
    <div class="col four">
      <h1 class="icon">[]</h1>
      <h1 class="service">Natural Holistic Drinks</h1>
      <p>Honey Suckle Rum</p>
      <p>Agave Cucumber Tequila</p>
      <p>Avocado Quinoa Margarita Mudslide</p>
      <p>Chocolate Chip Cafecito Vodka</p>
      <p>Miami Migraine</p>
    </div>
    <div class="group"></div>
  </div>
</div>
<div class="section bg">
  <div class="container">
    <h1>Past Events</h1>
    <h2>Bartender or Magician?</h2>
    <div class="col three bg nopad pointer">
      <div class="imgholder"></div>
      <h1 class="feature">President Obama's White House BBQ</h1>
      <p>We turned up!</p>
    </div>
    <div class="col three bg nopad pointer">
      <div class="imgholder"></div>
      <h1 class="feature">Chance the Rapper's Birthday Party</h1>
      <p>This party was lit!</p>
    </div>
    <div class="col three bg nopad pointer">
      <div class="imgholder"></div>
      <h1 class="feature">Missy Elliot's Come Back Fest</h1>
      <p>Yo!!!!</p>
    </div>
    <div class="group margin"></div>
    <div class="col three bg nopad pointer">
      <div class="imgholder"></div>
      <h1 class="feature">Young Money's Rich and Dope Mixer</h1>
      <p>This was inspiring!</p>
    </div>
    <div class="col three bg nopad pointer">
      <div class="imgholder"></div>
      <h1 class="feature">WOC in Tech</h1>
      <p>The turn up was real!</p>
    </div>
    <div class="col three bg nopad pointer">
      <div class="imgholder"></div>
      <h1 class="feature">Silent Auction Fundraiser</h1>
      <p>Because we give back too!</p>
    </div>
    <div class="group"></div>
  </div>
</div>
<div class="section">
  <div class="container">
    <h1>Our Friends and Partners</h1>
    <h2>The Support System</h2>
    <div class="col three">
      <h1 class="icon side">[]</h1>
      <h1 class="feature side">Women of Color in Tech</h1>
      <p class="side">This organization serves as the sponsor for many of our community events.</p>
    </div>
    <div class="col three">
      <h1 class="icon side">[]</h1>
      <h1 class="feature side">Chisel Tech</h1>
      <p class="side">Bridget makes sure our web and app presence is up to par.</p>
    </div>
    <div class="col three">
      <h1 class="icon side">[]</h1>
      <h1 class="feature side">EcoTech Visions</h1>
      <p class="side">This organization provided the resources for the vision to be realized.</p>
    </div>
    <div class="group margin"></div>
    <div class="col three">
      <h1 class="icon side">[]</h1>
      <h1 class="feature side">Black Tech Weekend</h1>
      <p class="side">Felicia Hatcher was tremendously instrumental in creating an environment for entrepreneurship in Miami.</p>
    </div>
    <div class="col three">
      <h1 class="icon side">[]</h1>
      <h1 class="feature side">Carlos Vasquez</h1>
      <p class="side">This project couldn't have become possible if it weren't for the great support of our mentor </p>
    </div>
    <div class="col three">
      <h1 class="icon side">[]</h1>
      <h1 class="feature side">Some Dope Bartending Group</h1>
      <p class="side">We aren't just good bartenders. We're dope bartenders. This group helped shape me.</p>
    </div>
    <div class="group margin"></div>
  </div>
</div>
<div class="section bg">
  <div class="container">
    <h1>Our Philanthropy Work</h1>
    <h2>Where We Invest</h2>
    <div class="col two bg margin extrapad">
      <h1 class="icon side">[]</h1>
      <span class="feature side">Big Brothers Big Sisters</span><span class="side"></span>
      <p class="side">We Do Amazing Shit</p>
    </div>
    <div class="col two bg margin extrapad">
      <h1 class="icon side">[]</h1>
      <span class="feature side">Black Girls Code</span><span class="side"></span>
      <p class="side">We Do Even More Amazing Shit</p>
    </div>
    <div class="group margin"></div>
    <div class="col two bg margin extrapad">
      <h1 class="icon side">[]</h1>
      <span class="feature side">The Miami Excellence Project</span><span class="side"></span>
      <p class="side">We Finance Amazing Shit</p>
    </div>
    <div class="col two bg margin extrapad">
      <h1 class="icon side">[]</h1>
      <span class="feature side">GSCBWLA</span><span class="side"></span>
      <p class="side">We support civic engagement.</p>
    </div>
    <div class="group"></div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="col two">
      <h1 class="icon">[]</h1>
      <h1 class="service">LIFE Sustainable Project</h1>
      <p>We invest in local inner-city gardens</p>
    </div>
    <div class="col two">
      <h1 class="icon">[]</h1>
      <h1 class="service">Greenleaf Grocers</h1>
      <p>We invest in holistic grocery stores</p>
    </div>
    <div class="group"></div>
  </div>
</div>
<div class="section">
  <div class="container">
    <h3 class="reset">Copyright 2017</h3>
  </div>
</div>
<div class="section">
  <div class="footer">
    <div class="container white">
      <div class="col four left">
        <h1>What?</h1>
        <p>So that's it. This is a basic skeleton for a bartending service</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
        <p>I have good feelings about this.The app just needs to be promoted.</p>
      </div>
      <div class="col four left">
        <h1>How?</h1>
        <p>This is made with CSS, HTML and JavaScript.</p>
        <p>Only external libraries are GFonts.</p>
        <p>Mobile Responsive. Tablet Responive. Desktop Responsive.</p>
      </div>
      <div class="col four left">
        <h1>Why?</h1>
        <p>This is pretty straightforward.</p>
        <p>I hope you like it.</p>
      </div>
      <div class="col four left">
        <h1>Who?</h1>
        <p>Bridget is Dope.</p>
        <p>You can get in touch with me through <a href="http://chiseltechlab.com">http://somewebsite.com</a> or <a href="mailto:bridget@somewebsite.com">emailing me</a>.</p>
      </div>
      <div class="group"></div>
    </div>
  </div>
</div>
